# exclude files
*.eps
*.ods

# exclude sensitive files
.env

# exclude directories & large files
data/
literature/
conda_envs/data/
conda_envs/gbif/
anomalies/code/gbif/
trajectories/

# ignore IDE specific files
.idea/
.vscode/
*.sw*
__pycache__/
.empty/
.R*

# ignore xls cache 
.~lock*
.Rproj.user
