# exclude files
*.eps

# exclude directories
literature/
otrascosas/
conda_envs/data/

# ignore IDE specific files
.idea/
.vscode/
*.sw*
code/__pycache__/

# ignore xls cache 
.~lock*

