# exclude files
*.eps
*.ods

# exclude directories
data/
literature/
conda_envs/data/

# ignore IDE specific files
.idea/
.vscode/
*.sw*
__pycache__/
.empty/

# ignore xls cache 
.~lock*